FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="https://eu1.prisma.sh/vlad-m-38341a/sick-fits/dev"
PRISMA_SECRET="fergjlkfdnblv"
APP_SECRET="jwtsecret123"
STRIPE_SECRET="sk_123youchanget his"
PORT=4444
